// Global variables
$border-radius: 3px;

// Typography
$line-height: 1.35em;
$base-font-size: 16px;

// Colors
// Font Colors
$primary-color: #00960e;
$secondary-color: #888;
$body-color: #333;

// Background Colors
$primary-background-color: $primary-color;
$secondary-background-color: #eee;

// Margins
$margin-large: 2em;
$margin: 1.5em;
$margin-small: 1em;
$margin-tiny: .5em;

// Transitions
$transition: .2s;

// Box Shadows
$box-shadow: 0 2px #ddd;
