// Global variables

$border-radius: 3px;


// Typography
$line-height: 1.35em;

// Colors
$primary-color: #00960e;
$secondary-color: #888;
$body-color: #333;

$primary-background-color: $primary-color;
$secondary-background-color: #eee;
