$border-color: lighten($primary-color, 50) !default;
$border-color-light: lighten($primary-color, 60) !default;
$border-color-dark: lighten($primary-color, 40) !default;
$border-width: 1px !default;
$border-style: solid !default;
