$input-line-height: $base-line-height !default;
$input-height: 2.115em !default;
$input-font-size: 1em !default;
$input-padding: .32em .7em !default;
$input-border: 1px solid #ccc !default;
$input-border-radius: $border-radius;
$input-margin-bottom: $margin-small !default;
$input-box-shadow: inset 0 2px 2px #eee !default;

$large-input-font-size: 1.5em !default;
$large-input-padding: $input-padding !default;

$small-input-font-size: .8em !default;
$small-input-padding: $input-padding !default;

$tiny-input-font-size: .7em !default;
$tiny-input-padding: $input-padding !default;

$label-margin-bottom: $margin-tiny !default;

$fieldset-padding: $margin-small !default;

$legend-font-size: $small !default;
$legend-color: $text-color-muted !default;
$legend-padding: $margin-tiny !default;

$inline-input-border: 1px solid #999 !default;
$inline-input-width: auto;
$inline-input-text-align: center;
