$list-padding-left:         1.5em               !default;
$custom-list-padding-left:  $list-padding-left  !default;
$unordered-list-style:      disc                !default;
$list-line-height:          $line-height        !default;
$inline-list-margin:        5px                 !default;
$list-image-text-align:     left                !default;
