$table-background:              #fff !default;
$row-border:                    1px solid #ccc !default;
$cell-padding:                  $margin-tiny !default;
$table-border:                  1px solid #ccc !default;
$cell-text-align:               left !default;
$last-column-align-right:       true !default;
$table-head-font-weight:        normal !default;
$table-head-font-color:         #999 !default;
$table-head-background:         #eee !default;
$table-line-height:             1.5em !default;

$table-striped-odd-background:  #f9f9f9 !default;
$table-striped-even-background: #fff !default;
