// Typography Defaults

// Defaults for Base Typography
$base-font-size                 : $base-font-size !default;
$base-family                    : sans-serif !default;
$base-line-height               : 1.4em !default;
$text-direction                 : ltr;

// Headings

// Defaults for Headings
$heading-weight                 : bold !default;
$heading-style                  : normal !default;
$heading-family                 : inherit !default;

//    class-name  font-size    small size       line-height         font-weight       font-family 
$h1 : h1          2.3em        1.8em            1.1em               $heading-weight   $heading-family   !default;
$h2 : h2          2em          1.7em            1.2em               $heading-weight   $heading-family   !default;
$h3 : h3          1.5em        1.3em            $base-line-height   $heading-weight   $heading-family   !default;
$h4 : h4          1.2em        1em              $base-line-height   $heading-weight   $heading-family   !default;
$h5 : h5          1em          1em              $base-line-height   $heading-weight   $heading-family   !default;
$h6 : h6          .9em         .9em             $base-line-height   $heading-weight   $heading-family   !default;

$headings: $h1, $h2, $h3, $h4, $h5, $h6;

// Paragraph
$paragraph-line-height          : $base-line-height !default;
$paragraph-margin               : .5em 0 !default;

// Small

$small                          : .7em !default;

// Links

$link-color                     : $secondary-color !default;
$link-text-decoration           : underline !default;
$link-hover-color               : $primary-color !default;
$link-transition                : $transition !default;
