
$input-line-height: 1em !default;
$input-font-size: emCalc(14px) !default;
$input-padding: 1em .8em !default;
$input-border: 1px solid #ccc !default;
$input-border-radius: $border-radius;
$input-box-shadow: inset 0 2px 2px #eee !default;

$large-input-font-size: 1.5em !default;
$large-input-padding: $input-padding !default;

$small-input-font-size: emCalc(12px) !default;
$small-input-padding: $input-padding !default;

$tiny-input-font-size: emCalc(10px) !default;
$tiny-input-padding: $input-padding !default;


