@import "compass/css3/box-shadow";

input{
   @include box-shadow($input-box-shadow);
   line-height: $input-line-height;
   font-size: $input-font-size;
   border: $input-border;
   border-radius: $input-border-radius;
   padding: $input-padding;

   &.large{
        font-size: $large-input-font-size;
        @if($large-input-padding != $input-padding){
            padding: $large-input-padding;
        }
   }

   &.small{
        font-size: $small-input-font-size;
        @if($small-input-padding != $input-padding){
            padding: $small-input-padding;
        }
   }

   &.tiny{
        font-size: $tiny-input-font-size;
        @if($tiny-input-padding != $input-padding){
            padding: $tiny-input-padding;
        }
   }
}
