.row{
    width: 100%;
    max-width: $row-width;
    @include clearfix();
    @if $is-row-centered == true{
        margin: 0 auto;
    }
}

// Generate Columns
.columns, .column{
    float: left;
}

@for $i from 1 through $column-number {
    .large-#{$i}{
        width: percentage(($i / $column-number));
    }
}

// Generate Rows
