// Headings

$heading-font-sizes: $h1, $h2, $h3, $h4, $h5, $h6;
$heading-line-heights: $h1-line-height, $h2-line-height, $h3-line-height, $h4-line-height, $h5-line-height, $h6-line-height;
$heading-font-families: $h1-font-family, $h2-font-family, $h3-font-family, $h4-font-family, $h5-font-family, $h6-font-family;

@for $i from 1 through 6{
    h#{$i}, .h#{$i}{
        font-size: nth($heading-font-sizes, $i);
        line-height: nth($heading-line-heights, $i);
        font-family: nth($heading-font-families, $i);
        margin: 0;
    }
}

p{
    line-height: $base-line-height;
    margin: $paragraph-margin;
}

a{
    @include transition($link-transition);
    color: $link-color;
    text-decoration: $link-text-decoration;
    &:hover{
        color: $link-hover-color;
    }
}

body{
    font-family: $base-family;
}
