$sizes: desktop tablet mobile;
$directions: bottom top left right;
$shades:
    "light" $border-color-light,
    "dark" $border-color-dark
;

@each $direction in $directions{
    .border-#{$direction}{
        border-#{$direction}: $border-width $border-style $border-color;
    }

    @each $shade in $shades{
        .border-#{$direction}-#{nth($shade,1)}{
            border-#{$direction}: $border-width $border-style nth($shade,2);
        }
    }

    @each $size in $sizes{
        @if($size == desktop){
            @media(min-width: $tablet-breakpoint){
                .#{$size}-border-#{$direction}{
                    border-#{$direction}: $border-width $border-style $border-color;
                }
                @each $shade in $shades{
                    .#{$size}-border-#{$direction}-#{nth($shade,1)}{
                        border-#{$direction}: $border-width $border-style nth($shade,2);
                    }
                }
            }
        }
        @if($size == tablet){
            @media(max-width: $tablet-breakpoint){
                .#{$size}-border-#{$direction}{
                    border-#{$direction}: $border-width $border-style $border-color;
                }
                @each $shade in $shades{
                    .#{$size}-border-#{$direction}-#{nth($shade,1)}{
                        border-#{$direction}: $border-width $border-style nth($shade,2);
                    }
                }
            }
        }
        @if($size == mobile){
            @media(max-width: $mobile-breakpoint){
                .#{$size}-border-#{$direction}{
                    border-#{$direction}: $border-width $border-style $border-color;
                }
                @each $shade in $shades{
                    .#{$size}-border-#{$direction}-#{nth($shade,1)}{
                        border-#{$direction}: $border-width $border-style nth($shade,2);
                    }
                }
            }
        }
    }
}