.breadcrumbs{
    > *{
        display: inline-block;

        &:after{
            content: ' >';
            display: inline;
        }

        &:last-child:after{
            display: none;
        }

    }
}

