@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/appearance";
@import "../mixins/button";
@import "compass/typography/text/nowrap";

.button{
    @include button-base();
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-bottom: $button-margin-bottom;
    @include appearance(none);
    height: auto;
    font-size: $button-font-size;
    padding: $button-padding;

    @if($button-is-flat == false){
        @include text-shadow(0 -1px 2px lighten($button-background-color, 15));
        @include box-shadow( 
            $button-box-shadow, 
            inset 0 -10px 10px -10px darken($button-background-color, 5),
            inset 0 10px 10px -10px lighten($button-background-color, 5) 
        );
    }else{
        @include box-shadow($button-box-shadow);
    }

    &:hover{
        background-color: $button-hover-background-color;
    }

    &.small{
        font-size: $small-button-font-size;
        padding: $small-button-padding;
    }

    &.large{
        font-size: $large-button-font-size;
        padding: $large-button-padding;
    }

    &.primary{
        background-color: $primary-button-background-color;
        color: $primary-button-font-color;
        &:hover{
            background-color: $primary-button-hover-background-color;
        }
        border-color: $primary-button-border-color;

        @if($button-is-flat == false){
            @include text-shadow(0 -1px 2px darken($primary-button-background-color, 7));
            @include box-shadow( 
                $primary-button-box-shadow, 
                inset 0 -10px 10px -10px darken($primary-button-background-color, 5),
                inset 0 10px 10px -10px lighten($primary-button-background-color, 5) 
            );
        }

    }
}

.btn-group{
    @include nowrap;
    position: relative;
    display: block;
    margin-bottom: $button-group-margin-bottom;
    @include clearfix();
    .button, input{
        margin-bottom: 0;
        float: left;
        @if($button-border-radius){
            @include border-radius(0);
            &:last-child{
                @include border-radius(0 $button-border-radius $button-border-radius 0);
            }
            &:first-child{
                @include border-radius($button-border-radius 0 0 $button-border-radius);
            }
        }
    }
}
