@import "compass/css3/box-shadow";

input:not([type="submit"]){
    @include box-shadow($input-box-shadow);
    line-height: $input-line-height;
    font-size: $input-font-size;
    border: $input-border;
    border-radius: $input-border-radius;
    padding: $input-padding;
}

label, input:not([type="submit"]){
    &.large{
        font-size: $large-input-font-size;
        @if($large-input-padding != $input-padding){
            padding: $large-input-padding;
        }
    }

    &.small{
        font-size: $small-input-font-size;
        @if($small-input-padding != $input-padding){
            padding: $small-input-padding;
        }
    }

    &.tiny{
        font-size: $tiny-input-font-size;
        @if($tiny-input-padding != $input-padding){
            padding: $tiny-input-padding;
        }
    }
}

label{
    padding: $input-padding;
    font-size: $input-font-size;
    line-height: $input-line-height;
    &.large, &.small, &.tiny, &{
        padding-left: 0;
        padding-right: 0;
    }
}



fieldset{
    padding: $margin-small;
}

legend{
    color: $legend-color;
    font-size: $legend-font-size;
    padding: 0 $legend-padding;
    margin: 0 -$legend-padding;
}

label, input, select{
    display: block;
    width: 100%;
}

label[for]{
    cursor: pointer;
}

input[type="submit"]{
    width: auto;
}

input, select, textarea, fieldset{
    margin-bottom: $input-margin-bottom;
}
