@import "compass/css3/box-shadow";
@import "compass/css3/appearance";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";

%input-base{
    padding: $input-padding;
    font-size: $input-font-size;
    line-height: $input-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input{
    @include transition($input-transition border background);
    background: $input-background;
    @extend %input-base;
    @include box-shadow($input-box-shadow);
    border: $input-border;
    border-radius: $input-border-radius;
    height: $input-height;
    @include appearance(textfield);
    @include box-sizing(border-box);
    display: block;
    width: 100%;
}

.label{
    @extend %input-base;
    display: inline-block;
    overflow: hidden;
}

$list: input label;

@each $item in $list{
    .#{$item}--large{
        font-size: $large-input-font-size;
        @if($large-input-padding != $input-padding){
            padding: $large-input-padding;
        }
        @if($item == label){
            padding-left: 0;
            padding-right: 0;
        }
    }

    .#{$item}--small{
        font-size: $small-input-font-size;
        @if($small-input-padding != $input-padding){
            padding: $small-input-padding;
        }
        @if($item == label){
            padding-left: 0;
            padding-right: 0;
        }
    }

    .#{$item}--tiny{
        font-size: $tiny-input-font-size;
        @if($tiny-input-padding != $input-padding){
            padding: $tiny-input-padding;
        }
        @if($item == label){
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.fieldset{
    padding: $margin-small;
}

.legend{
    color: $legend-color;
    font-size: $legend-font-size;
    padding: 0 $legend-padding;
    margin: 0 -$legend-padding;
}

@if($disable-default-webkit-datefield == true){
    input[type="date"]{
        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }
    }
}

label[for], label.inline-form{
    cursor: pointer;
}

.input, .textarea{
    margin-bottom: $input-margin-bottom;
}

.textarea{
    @extend .input;
    white-space: normal;
}

.input--inline{
    display: inline;
    width: auto;
}

// Minlare - TODO Clean up and replace with boxes classes
.inline-form .error:not(.hideMessage) input,
.inline-form .error:not(.hideMessage) input:hover,
.inline-form .error:not(.hideMessage) input:focus {
    border-color: #c60f13;
    background-color: rgba(198, 15, 19, 0.1);
}
.inline-form .success input,
.inline-form .success input:hover,
.inline-form .success input:focus {
    border-color: #5da423;
    background-color: rgba(15, 198, 19, 0.1);
}

.error small ul,
.error small ul li,
.success small ul,
.success small ul li {
    list-style: none;
    color: white;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 12px;
}

.success input, input.success, .success textarea, textarea.success, .success input:focus, input.success:focus, .success textarea:focus, textarea.success:focus {
    border-color: #5da423;
    background-color: rgba(15, 198, 19, 0.1);
}

.success input:focus, input.success:focus, .success textarea:focus, textarea.success:focus {
    outline-color: #f5797c;
}

.row.hideMessage{
    input, input:focus, textarea, textarea:focus{
        outline-color: #ccc;
        border-color: #ccc;
    }
}

.success label, label.success {
    color: #5da423;
}

.success small, small.success {
      display: block;
      padding: 6px 4px;
      margin-top: -13px;
      margin-bottom: 12px;
      background: #5da423;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      @include border-radius(0 0 3px 3px);
}

.error.hideMessage small, .success.hideMessage small{
    display: none;
}

.inline-form h1 input {
    font-size: 22px;
}

 div.alert-box {
     font-weight: normal;
     padding: 10px 40px 10px 10px;
     margin: 15px;
     -webkit-box-shadow:0 2px 0 rgba(0,0,0,0.1),0 2px 7px rgba(0,0,0,0.1);
     -moz-box-shadow:0 2px 0 rgba(0,0,0,0.1),0 2px 7px rgba(0,0,0,0.1);
     box-shadow:0 2px 0 rgba(0,0,0,0.1),0 2px 7px rgba(0,0,0,0.1)
 }
 div.alert-box.success
 div.alert-box.alert {
     text-shadow: none;
 }
 div.alert-box a.close {
     top: 5px;
 }

.remove-date {
    color: #bbb;
}
.remove-date:hover {
    color: #666;
}


body > textarea, .autosizejs{
    left: -999px !important;
}

/* PDF Processing */
.pdf-overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}
.pdf-processing {
    position: fixed;
    top: -100%;
    left: 50%;
    height: 140px;
    width: 400px;
    padding-top: 20px;
    margin: -80px 0 0 -200px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -webkit-box-shadow:0 2px 0 rgba(0,0,0,0.1),0 2px 7px rgba(0,0,0,0.1);
    -moz-box-shadow:0 2px 0 rgba(0,0,0,0.1),0 2px 7px rgba(0,0,0,0.1);
    box-shadow:0 2px 0 rgba(0,0,0,0.1),0 2px 7px rgba(0,0,0,0.1);
}
.pdf-overlay.visible {
    opacity: 1;
    top: 0;
}
.pdf-processing.visible {
    opacity: 1;
    top: 50%;
}

/* Mike DatePicker */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.datepicker {
    padding: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #ddd;
}
.datepicker table thead tr th {
    padding: 4px 10px;
    font-weight: bold;
    color: #333;
    font-size: 12px;
}
.datepicker table tbody tr td {
    padding: 4px 10px;
    color: #666;
    font-size: 12px;
}
.datepicker table tbody tr td span {
    height: 26px;
    line-height: 26px;
}
.datepicker table thead tr th:last-child,
.datepicker table tbody tr td:last-child {
    padding-right: 10px;
    text-align: center;
}
.datepicker table tbody tr td.old,
.datepicker table tbody tr td.new {
    color: #ccc;
    font-style: italic;
}
.datepicker table thead tr th i.icon {
    font-style: normal;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
     background: #d01e1e;
}

.datepicker-dropdown.above:before {
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-bottom: none;
    top: 214px;
}

.datepicker-dropdown.above:after {
    border-top: 6px solid #fff;
    border-bottom: none;
    top: 214px;
}

.header-row{
    margin-top: -20px;
    margin-bottom: 15px;
}
