.row{
    width: 100%;
    max-width: $row-width;
    @include clearfix();
    @if $is-row-centered == true{
        margin: 0 auto;
    }
}

// Generate Columns
.columns, .column{
    float: left;
}

@for $i from 1 through $column-number {

    @media(min-width: $small-screen){
        .large-#{$i}{
            width: percentage(($i / $column-number));
        } 
    }

    @media(max-width: $small-screen){
        .small-#{$i}{
            width: percentage(($i / $column-number));
        }
    }

    @media(max-width: $tiny-screen){
        .tiny-#{$i}{
            width: percentage(($i / $column-number));
        }
    }

    .lt-ie9 {
        .large-#{$i}{
            width: percentage(($i / $column-number));
        } 
    }
}

// Generate Rows
@for $i from 1 to $column-number {
    .block-grid-#{$i}{
        & > *:nth-child(#{$i}n + 1){
            clear: both;
        }
    }
}
