.row{
    width: 100%;
    max-width: $row-width;
    @include clearfix();
    @if $is-row-centered == true{
        margin: 0 auto;
    }
}

@mixin grid($device, $column-total, $columns){
    .#{$device}-#{$columns}{
        float: left;
        width: percentage(($columns / $column-total));
    }

    .#{$device}-offset-#{$columns}{
        margin-left: percentage(($columns / $column-total));
    }

    @for $column from 1 to $column-total {
        .#{$device}-block-grid-#{$columns}{
            float: left;
            & > *:nth-child(#{$columns}n + 1){
                clear: both;
            }
        }
    }
}

@for $i from 1 through $column-total {
    @media(min-width: $tablet-breakpoint){
        @include grid(desktop, $column-total, $i);
    }

    @media(max-width: $tablet-breakpoint){
        @include grid(tablet, $column-total, $i);
    }

    @media(max-width: $mobile-breakpoint){
        @include grid(mobile, $column-total, $i);
    }

    .lt-ie9 {
        @include grid(desktop, $column-total, $i);
    }
}
