.row{
    width: 100%;
    max-width: $row-width;
    @include clearfix();
    @if $is-row-centered == true{
        margin: 0 auto;
    }
}

// Generate Columns
.columns, .column{
    float: left;
}

@for $i from 1 through $column-number {

    @media(min-width: $small-screen){
        .large-#{$i}{
            width: percentage(($i / $column-number));
        }
        
        .large-offset-#{$i}{
            margin-left: percentage(($i / $column-number));
        }

        @for $i from 1 to $column-number {
            .large-block-grid-#{$i}{
                & > *:nth-child(#{$i}n + 1){
                    clear: both;
                }
            }
        }
    }

    @media(max-width: $small-screen){
        .small-#{$i}{
            width: percentage(($i / $column-number));
        }

        .small-offset-#{$i}{
            margin-left: percentage(($i / $column-number));
        }

        @for $i from 1 to $column-number {
            .small-block-grid-#{$i}{
                & > *:nth-child(#{$i}n + 1){
                    clear: both;
                }
            }
        }
    }

    @media(max-width: $tiny-screen){
        .tiny-#{$i}{
            width: percentage(($i / $column-number));
        }

        .tiny-offset-#{$i}{
            margin-left: percentage(($i / $column-number));
        }

        @for $i from 1 to $column-number {
            .tiny-block-grid-#{$i}{
                & > *:nth-child(#{$i}n + 1){
                    clear: both;
                }
            }
        }
    }

    .lt-ie9 {
        .large-#{$i}{
            width: percentage(($i / $column-number));
        } 

        .large-offset-#{$i}{
            margin-left: percentage(($i / $column-number));
        }

        @for $i from 1 to $column-number {
            .large-block-grid-#{$i}{
                & > *:nth-child(#{$i}n + 1){
                    clear: both;
                }
            }
        }
    }
}
