@import "compass/css3/box-sizing";

.inline-block     { display: inline-block; }
.inline           { display: inline; }

.no-margin        { margin: 0; }
.no-padding       { padding: 0; }
.no-bottom-margin { margin-bottom: 0; }
.no-radius        { border-radius: 0; }

.left             { float: left !important; }
.right            { float: right !important; }

.text-left        { text-align: left !important; }
.text-right       { text-align: right !important; }
.text-center      { text-align: center !important; }
.text-justify     { text-align: justify !important; }

.no-margin-right  { margin-right : 0; }
.no-margin-left   { margin-left : 0; }
.no-margin-top    { margin-top : 0; }
.no-margin-bottom { margin-bottom : 0; }

.hide             { display: none; }

.no-padding-right  { padding-right : 0; }
.no-padding-left   { padding-left : 0; }
.no-padding-top    { padding-top : 0; }
.no-padding-bottom { padding-bottom : 0; }

@media(max-width: $small-screen){ 
    .small-left            { float: left; }
    .small-right            { float: right; }
    .small-text-left        { text-align: left !important; }
    .small-text-right       { text-align: right !important; }
    .small-text-center      { text-align: center !important; }
    .small-text-justify     { text-align: justify !important; }
    .small-hide             { display: none; } 

    .small-no-padding       { padding: 0; }
    .small-no-margin        { margin: 0; }

    .small-no-margin-right  { margin-right : 0; }
    .small-no-margin-left   { margin-left : 0; }
    .small-no-margin-top    { margin-top : 0; }
    .small-no-margin-bottom { margin-bottom : 0; }

    .small-no-padding-right  { padding-right : 0; }
    .small-no-padding-left   { padding-left : 0; }
    .small-no-padding-top    { padding-top : 0; }
    .small-no-padding-bottom { padding-bottom : 0; }
    .small-no-radius        { border-radius: 0; }
}

@media(max-width: $tiny-screen){
    .tiny-left            { float: left; }
    .tiny-right            { float: right; }
    .tiny-text-left        { text-align: left !important; }
    .tiny-text-right       { text-align: right !important; }
    .tiny-text-center      { text-align: center !important; }
    .tiny-text-justify     { text-align: justify !important; }
    .tiny-hide             { display: none; } 

    .tiny-no-padding       { padding: 0; }
    .tiny-no-margin        { margin: 0; }

    .tiny-no-margin-right  { margin-right : 0; }
    .tiny-no-margin-left   { margin-left : 0; }
    .tiny-no-margin-top    { margin-top : 0; }
    .tiny-no-margin-bottom { margin-bottom : 0; }

    .tiny-no-padding-right  { padding-right : 0; }
    .tiny-no-padding-left   { padding-left : 0; }
    .tiny-no-padding-top    { padding-top : 0; }
    .tiny-no-padding-bottom { padding-bottom : 0; }
    .tiny-no-radius        { border-radius: 0; }
}

@media(min-width: $small-screen){
    .large-left            { float: left; }
    .large-right            { float: right; }
    .large-text-left        { text-align: left !important; }
    .large-text-right       { text-align: right !important; }
    .large-text-center      { text-align: center !important; }
    .large-text-justify     { text-align: justify !important; }
    .large-hide             { display: none; } 

    .large-no-padding       { padding: 0; }
    .large-no-margin        { margin: 0; }

    .large-no-margin-right  { margin-right : 0; }
    .large-no-margin-left   { margin-left : 0; }
    .large-no-margin-top    { margin-top : 0; }
    .large-no-margin-bottom { margin-bottom : 0; }

    .large-no-padding-right  { padding-right : 0; }
    .large-no-padding-left   { padding-left : 0; }
    .large-no-padding-top    { padding-top : 0; }
    .large-no-padding-bottom { padding-bottom : 0; }
    .large-no-radius        { border-radius: 0; }
}

.lt-ie9{
    .large-hide{ display: none; }
}

// Using this: http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not 
.full-width{
    display: block;
    width:100%;
    @include box-sizing(border-box); 
}
