@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";

.relative         { position: relative; }

.block            { display: block; }
.inline-block     { display: inline-block; }
.inline           { display: inline; }

.no-margin        { margin: 0; }
.no-padding       { padding: 0; }
.no-bottom-margin { margin-bottom: 0; }
.no-radius        { border-radius: 0; }

.left             { float: left !important; }
.right            { float: right !important; }

.text-left        { text-align: left !important; }
.text-right       { text-align: right !important; }
.text-center      { text-align: center !important; }
.text-justify     { text-align: justify !important; }

.no-margin-right  { margin-right : 0; }
.no-margin-left   { margin-left : 0; }
.no-margin-top    { margin-top : 0; }
.no-margin-bottom { margin-bottom : 0; }

.hide             { display: none; }

.no-padding-right  { padding-right : 0; }
.no-padding-left   { padding-left : 0; }
.no-padding-top    { padding-top : 0; }
.no-padding-bottom { padding-bottom : 0; }

.border-radius     { 
    @include border-radius($border-radius); 
    //Add overflow hidden to round edges when children have backgrounds 
    overflow: hidden; 
}

.box-shadow        { @include box-shadow($box-shadow); }

@media(max-width: $small-screen){ 
    .tablet-left            { float: left; }
    .tablet-right            { float: right; }
    .tablet-text-left        { text-align: left !important; }
    .tablet-text-right       { text-align: right !important; }
    .tablet-text-center      { text-align: center !important; }
    .tablet-text-justify     { text-align: justify !important; }
    .tablet-hide             { display: none; } 

    .tablet-no-padding       { padding: 0; }
    .tablet-no-margin        { margin: 0; }

    .tablet-no-margin-right  { margin-right : 0; }
    .tablet-no-margin-left   { margin-left : 0; }
    .tablet-no-margin-top    { margin-top : 0; }
    .tablet-no-margin-bottom { margin-bottom : 0; }

    .tablet-no-padding-right  { padding-right : 0; }
    .tablet-no-padding-left   { padding-left : 0; }
    .tablet-no-padding-top    { padding-top : 0; }
    .tablet-no-padding-bottom { padding-bottom : 0; }
    .tablet-no-radius        { border-radius: 0; }
}

@media(max-width: $tiny-screen){
    .mobile-left            { float: left; }
    .mobile-right            { float: right; }
    .mobile-text-left        { text-align: left !important; }
    .mobile-text-right       { text-align: right !important; }
    .mobile-text-center      { text-align: center !important; }
    .mobile-text-justify     { text-align: justify !important; }
    .mobile-hide             { display: none; } 

    .mobile-no-padding       { padding: 0; }
    .mobile-no-margin        { margin: 0; }

    .mobile-no-margin-right  { margin-right : 0; }
    .mobile-no-margin-left   { margin-left : 0; }
    .mobile-no-margin-top    { margin-top : 0; }
    .mobile-no-margin-bottom { margin-bottom : 0; }

    .mobile-no-padding-right  { padding-right : 0; }
    .mobile-no-padding-left   { padding-left : 0; }
    .mobile-no-padding-top    { padding-top : 0; }
    .mobile-no-padding-bottom { padding-bottom : 0; }
    .mobile-no-radius        { border-radius: 0; }
}

@media(min-width: $small-screen){
    .desktop-left            { float: left; }
    .desktop-right            { float: right; }
    .desktop-text-left        { text-align: left !important; }
    .desktop-text-right       { text-align: right !important; }
    .desktop-text-center      { text-align: center !important; }
    .desktop-text-justify     { text-align: justify !important; }
    .desktop-hide             { display: none; } 

    .desktop-no-padding       { padding: 0; }
    .desktop-no-margin        { margin: 0; }

    .desktop-no-margin-right  { margin-right : 0; }
    .desktop-no-margin-left   { margin-left : 0; }
    .desktop-no-margin-top    { margin-top : 0; }
    .desktop-no-margin-bottom { margin-bottom : 0; }

    .desktop-no-padding-right  { padding-right : 0; }
    .desktop-no-padding-left   { padding-left : 0; }
    .desktop-no-padding-top    { padding-top : 0; }
    .desktop-no-padding-bottom { padding-bottom : 0; }
    .desktop-no-radius        { border-radius: 0; }
}

.lt-ie9{
    .desktop-hide{ display: none; }
}

// Using this: http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not 
.full-width{
    display: block;
    width:100%;
    max-width: 100%;
    @include box-sizing(border-box); 
}

.overflow-x-scroll{
    max-width: 100%;
    overflow-x: auto;
    position: relative;
    display: block;
}
