$x: 2;
$classnames: m, p;
$rulenames: margin, padding;
@while $x > 0{
    $classname: nth($classnames, $x);
    $rulename: nth($rulenames, $x);

    $i: 4;
    $a: (-top, -right, -bottom, -left);
    $b: (-t, -r, -b, -l);
    @while $i > 0{
        $c: nth($b, $i);
        $d: nth($a, $i);

        .#{$classname} {
            #{$rulename}: $margin;
        }
        .#{$classname}--s {
            #{$rulename}: $margin-small;
        }
        .#{$classname}--t {
            #{$rulename}: $margin-tiny;
        }
        .#{$classname}--l {
            #{$rulename}: $margin-large;
        }
        .#{$classname}#{$c}--l {
            #{$rulename}#{$d}: $margin-large;
        }
        .#{$classname}#{$c} {
            #{$rulename}#{$d}: $margin;
        }
        .#{$classname}#{$c}--s {
            #{$rulename}#{$d}: $margin-small;
        }
        .#{$classname}#{$c}--t {
            #{$rulename}#{$d}: $margin-tiny;
        }


        @media(max-width: $small-screen){
            .tablet-#{$classname} {
                #{$rulename}: $margin;
            }
            .tablet-#{$classname}--s {
                #{$rulename}: $margin-small;
            }
            .tablet-#{$classname}--t {
                #{$rulename}: $margin-tiny;
            }
            .tablet-#{$classname}--l {
                #{$rulename}: $margin-large;
            }
            .tablet-#{$classname}#{$c}--l {
                #{$rulename}#{$d}: $margin-large;
            }
            .tablet-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .tablet-#{$classname}#{$c}--s {
                #{$rulename}#{$d}: $margin-small;
            }
            .tablet-#{$classname}#{$c}--t {
                #{$rulename}#{$d}: $margin-tiny;
            }
        }

        @media(max-width: $tiny-screen){
            .mobile-#{$classname} {
                #{$rulename}: $margin;
            }
            .mobile-#{$classname}--s {
                #{$rulename}: $margin-tiny;
            }
            .mobile-#{$classname}--t {
                #{$rulename}: $margin-tiny;
            }
            .mobile-#{$classname}--l {
                #{$rulename}: $margin-large;
            }
            .mobile-#{$classname}#{$c}--l {
                #{$rulename}#{$d}: $margin-large;
            }
            .mobile-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .mobile-#{$classname}#{$c}--s {
                #{$rulename}#{$d}: $margin-small;
            }
            .mobile-#{$classname}#{$c}--t {
                #{$rulename}#{$d}: $margin-tiny;
            }

        }



        @media(min-width: $small-screen){
            .desktop-#{$classname} {
                #{$rulename}: $margin;
            }
            .desktop-#{$classname}--s {
                #{$rulename}: $margin-small;
            }
            .desktop-#{$classname}--t {
                #{$rulename}: $margin-tiny;
            }
            .desktop-#{$classname}--l {
                #{$rulename}: $margin-large;
            }
            .desktop-#{$classname}#{$c}--l {
                #{$rulename}#{$d}: $margin-large;
            }
            .desktop-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .desktop-#{$classname}#{$c}--s {
                #{$rulename}#{$d}: $margin-small;
            }
            .desktop-#{$classname}#{$c}--t {
                #{$rulename}#{$d}: $margin-tiny;
            }

        }

        .lt-ie9 {
            .desktop-#{$classname} {
                #{$rulename}: $margin;
            }
            .desktop-#{$classname}--s {
                #{$rulename}: $margin-small;
            }
            .desktop-#{$classname}--t {
                #{$rulename}: $margin-tiny;
            }
            .desktop-#{$classname}--l {
                #{$rulename}: $margin-large;
            }
            .desktop-#{$classname}#{$c}--l {
                #{$rulename}#{$d}: $margin-large;
            }
            .desktop-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .desktop-#{$classname}#{$c}--s {
                #{$rulename}#{$d}: $margin-small;
            }
            .desktop-#{$classname}#{$c}--t {
                #{$rulename}#{$d}: $margin-tiny;
            }
        }
        $i: $i - 1;
    }
    $x: $x - 1;
}

