$x: 2;
$classnames: m, p;
$rulenames: margin, padding;
@while $x > 0{
    $classname: nth($classnames, $x);
    $rulename: nth($rulenames, $x);

    $i: 4;
    $a: (-top, -right, -bottom, -left);
    $b: (-t, -r, -b, -l);
    @while $i > 0{
        $c: nth($b, $i);
        $d: nth($a, $i);

        .#{$classname} {
            #{$rulename}: $margin;
        }
        .#{$classname}-s {
            #{$rulename}: $margin-small;
        }
        .#{$classname}#{$c}-l {
            #{$rulename}#{$d}: $margin-large;
        }
        .#{$classname}#{$c} {
            #{$rulename}#{$d}: $margin;
        }
        .#{$classname}#{$c}-s {
            #{$rulename}#{$d}: $margin-small;
        }
        .#{$classname}#{$c}-t {
            #{$rulename}#{$d}: $margin-tiny;
        }


        @media(max-width: $small-screen){
            .small-#{$classname} {
                #{$rulename}: $margin;
            }
            .small-#{$classname}-s {
                #{$rulename}: $margin-tiny;
            }
            .small-#{$classname}#{$c}-l {
                #{$rulename}#{$d}: $margin-large;
            }
            .small-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .small-#{$classname}#{$c}-s {
                #{$rulename}#{$d}: $margin-small;
            }
            .small-#{$classname}#{$c}-t {
                #{$rulename}#{$d}: $margin-tiny;
            }
        }

        @media(max-width: $tiny-screen){
            .tiny-#{$classname} {
                #{$rulename}: $margin;
            }
            .tiny-#{$classname}-s {
                #{$rulename}: $margin-tiny;
            }
            .tiny-#{$classname}#{$c}-l {
                #{$rulename}#{$d}: $margin-large;
            }
            .tiny-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .tiny-#{$classname}#{$c}-s {
                #{$rulename}#{$d}: $margin-small;
            }
            .tiny-#{$classname}#{$c}-t {
                #{$rulename}#{$d}: $margin-tiny;
            }

        }



        @media(min-width: $small-screen){
            .large-#{$classname} {
                #{$rulename}: $margin;
            }
            .large-#{$classname}-s {
                #{$rulename}: $margin-tiny;
            }
            .large-#{$classname}#{$c}-l {
                #{$rulename}#{$d}: $margin-large;
            }
            .large-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .large-#{$classname}#{$c}-s {
                #{$rulename}#{$d}: $margin-small;
            }
            .large-#{$classname}#{$c}-t {
                #{$rulename}#{$d}: $margin-tiny;
            }

        }

        .lt-ie9 {
            .large-#{$classname} {
                #{$rulename}: $margin;
            }
            .large-#{$classname}-s {
                #{$rulename}: $margin-tiny;
            }
            .large-#{$classname}#{$c}-l {
                #{$rulename}#{$d}: $margin-large;
            }
            .large-#{$classname}#{$c} {
                #{$rulename}#{$d}: $margin;
            }
            .large-#{$classname}#{$c}-s {
                #{$rulename}#{$d}: $margin-small;
            }
            .large-#{$classname}#{$c}-t {
                #{$rulename}#{$d}: $margin-tiny;
            }
        }

        $i: $i - 1;
    }
    $x: $x - 1;
}

