// Headings

@each $heading in $headings{
    #{nth($heading, 1)}, .#{nth($heading, 1)}{
        font-size: nth($heading, 2);
        @media(max-width: $small-screen){
            font-size: nth($heading, 3);
        }
        line-height: nth($heading, 4);
        font-weight: nth($heading, 5);
        font-family: nth($heading, 6);
        margin: 0;
    }
}

p{
    line-height: $base-line-height;
    margin: $paragraph-margin;
}

.italic     { font-style: italic; }
.bold       { font-weight: bold; }
.normal       { font-weight: normal; }

a{
    @include transition($link-transition);
    color: $link-color;
    text-decoration: $link-text-decoration;
    &:hover{
        color: $link-hover-color;
    }
}

%base-font-settings{
    font-family: $base-family;
    font-size: $base-font-size;
    @media(max-width: $small-screen){
        font-size: $small-base-font-size;
    }
}

body{
    @extend %base-font-settings;
}

small, .small{
    font-size: $small;
}

.warn{
    color: $text-color-warn;
}

.error{
    color: $text-color-warn;
}

.muted{
    color: $text-color-muted;
}

.success{
    color: $text-color-success;
}

hr{
    border: none;
    border-top: $hr-border;
}
